# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# PyCharm project files
.idea/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pipenv files
Pipfile.lock

# mypy cache
.mypy_cache/

# Pyre type checker
.pyre/

# celery beat schedule file
celerybeat-schedule

Lib
Scripts
pyvenv.cfg
.env

data
